*,
html {
    scrollbar-color: #545454 #1c1c1c;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("src/fonts/RobotoFlex.ttf");
    font-family: "Roboto Flex";
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 20%;
    color: #fff;
    background-color: #222222;
}

.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 20pt;
    color: #fff;
}

.logo {
    transform: translate(0, 3px);
}

.login-button {
    position: relative;
    padding: 10px 1px;
    font-size: 16pt;
    color: #C1C1C1;
    background: transparent;
    border: none;
    cursor: pointer;
}

.login-button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #C1C1C1;
    transition: 0.2s cubic-bezier(0.74, 0.1, 0.42, 0.96);
}

.login-button:hover::before {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 110px;
    padding-bottom: 40px;
    font-family: "Roboto Flex";
    font-weight: bold;
    background-color: #191919;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}

.login-button-icon {
    margin-right: 5px;
}

.left_sidebar {
    width: 200px;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
    margin-bottom: 20px;
    color: #C1C1C1;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    font-weight: 600;
    background-color: #222222;
    border: solid 1px #545454;
    border-radius: 20px;
    transition: .2s cubic-bezier(0, 0, 0, 1);
}

.menu-item:hover {
    background-color: #2b2b2b;
}

.menu-icon {
    margin-right: 7px;
    margin-left: 14px;
}

.menu-item-content {
    display: flex;
    align-content: center;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    margin: 0 20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 552px;
    padding: 30px 20px 20px 20px;
    background-color: #222222;
    border: solid 1px #545454;
    border-radius: 20px;
}

.avatar {
    margin-right: 8px;
}

.author {
    display: flex;
    align-items: center;
}

.post-image {
    width: 512px;
    border-radius: 15px;
}

.post-text {
    font-weight: normal;
}

.right_sidebar {
    width: 200px;
}

.to_top {
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    font: inherit;
    color: #C1C1C1;
    background-color: #222222;
    border: solid 1px #545454;
    border-radius: 20px;
    transition: .2s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
}

.to_top:hover {
    background-color: #2b2b2b;
}

.login-window {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 550px;
    padding: 40px 150px;
    background-color: #222222;
    border: solid 1px #545454;
    border-radius: 20px;
}

.login-window-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.window-icon {
    width: 56px;
}

.input-blocks {
    position: relative;
    top: -15px;
    width: 100%;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    color: #fff;
}

.input-text {
    position: relative;
    top: 0.9rem;
    left: 0.6rem;
    padding: 5px;
    font-size: 12pt;
    color: #C1C1C1;
    background-color: #222222;
}

.input-field {
    outline: none;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    padding-left: 17%;
    font-size: 12pt;
    color: #C1C1C1;
    background-color: #222222;
    border: solid 1px rgb(71, 71, 71);
    border-radius: 15px;
}

#input-login {
    background: url(src/icons/login-field.svg) no-repeat 7% 50%;
}

#input-password {
    background: url(src/icons/password-field.svg) no-repeat 4% 50%;
}

.enter {
    width: 100%;
    height: 50px;
    font-size: 15pt;
    font-weight: 700;
    color: #fff;
    background-color: #2A2A2A;
    border: solid 1px rgb(71, 71, 71);
    border-radius: 15px;
    transition: .2s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
}

.enter:hover {
    color: #222222;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 12px #fff;
}


.enter:active {
    outline: none;
    border: none;
    transform: scale(.9);
}

.exception {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C1C1C1;
    gap: 5px;
}

.exception-link {
    transition: .2s ease-in-out;
}

.exception-link:hover {
    color: #9bff8c;
}

.exception-link::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 0%;
    height: 2px;
    background-color: #9bff8c;
    transition: 0.2s cubic-bezier(0.74, 0.1, 0.42, 0.96);
}

.exception-link:hover::after {
    width: 100%;
}

@media (max-width: 1440px) {
    main {
        flex-wrap: nowrap;
        width: min-content;
    }

    .posts {
        margin: 0 2vw;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    main {
        width: 95%;
    }

    header {
        padding: 0 5%;
    }

    .post-image {
        width: 100%;
    }

    .post {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 320px) {}